$pink: #dc1c4d;

.center{
  text-align: center;
}

.row.city{
  max-width: none;
  width: 100%;
  margin: 0;
  background: #fff;
  &.room{
    margin: 10px 0;
  }
  h2.lines{
    width: 400px;
    margin: 0.5em auto 13px;
  }
  .row.hotel-content{
    background: #f4f4f4 url('../images/mainbg.jpg') repeat left top;
    width: 100%;
    max-width: none;
    padding: 40px 0 0;
    &:last-child{
      padding: 40px 0;
    }
    .white-bg{
      background: #fff;
    }
    .image{
      margin-right: 20px;
    }
    .image:after {
        content:'\A';
        position:absolute;
        width:50%; height:100%;
        top:0; left:0;
        background:rgba(0,0,0,0.6) url('../images/ampliar-btn.png') no-repeat center center;
        opacity:0;
        transition: all 1s;
        -webkit-transition: all 1s;
    }
    .image:hover:after{
      opacity: 1;
    }
    .hotel-img{
      float: left;
      
    }
    .hotel-description{
      width: 420px;
      float: left;
      padding-top: 20px;
      h5{
        font-weight: normal;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      .btn-black{
        margin-top: 30px;
        display: table;
        height: 30px;
        padding: 0 38px 0 10px;
      }
      p.center{
        width: 300px;
        text-align: center;
        margin: 0 auto;
        font-style: normal;
      }
      p{
        font-style: italic;
        color: #666;
        font-size: 0.875em;
      }
      .opiniones{
        margin-top: 20px;
        span{
          font-weight: bold;
          font-size: 0.875em;
          &.score{
            color: $pink;
            font-size: 1.125em;
          }
        }
      }
    }
    .hotel-price{
      width: 140px;
      margin-right: 20px;
      &.info{
        margin: 0 auto;
        .price{
          text-decoration: underline;
        }
      }
      .info{
        width: 100%;
        padding-top: 45px;
      }
      span.price,span.desde{color:black;display: block;text-align: center; 
      }
        span.price{margin-bottom:30px;}
      span.desde{font-size: 0.688em;font-weight: 600;text-transform: uppercase; display: block; text-align: center;
    }
      span.price{font-weight: 700;font-size: 2.25em;text-decoration: none;line-height: 1.2em;}
      .btn-black{
        width: 140px;
        padding: 0 34px 0 30px;
        background: black url("../images/white-arrow.png") no-repeat 110px center;
        height: 40px;
        line-height: 40px;
      }
    }
  }
}

.hotel-info{
  width: 610px;

  address{
    margin-bottom:30px; 
  }
}
.ubicacion{
  position: relative;
  .btn-black{
    height: 40px;
    line-height: 40px;
    position: absolute;
    bottom: 33px;
    left: 50%;
    width: 123px;
    margin-left: -67px;
    padding: 0 20px;
    background: black url("../images/white-arrow.png") no-repeat 96px center;
  }
}

.row.middle.ofertas{
//  background: #f4f4f4 url('../images/mainbg.jpg') repeat left top;
  width: 100%;
  max-width: none;
  padding: 0;
  .left.ofertas{
    width: 640px;
    border-right: 2px solid #fff;
    padding: 40px 0;
  }
  .right.opiniones{
    width: 300px;
    padding-top: 55px;
    h2{
      width: 224px;
    }
    .trustscore{
      width: 143px;
      margin: 0 auto 30px;
      padding-bottom: 30px;
      border-bottom: 1px solid #333;
    }
    .testimonial{
      text-align: center;
      span{
        font-weight: bold;
        font-size: 0.875em;
        &.score{
          color: $pink;
          font-size: 1.125em;
        }
      }
      img{
        margin-top: 10px;
        margin-bottom: 37px;
      }
      h5{
        color: #dc1c4d;
        font-size: 0.688em;
        text-transform: uppercase;
        text-align: center;
      }
      strong{
        font-size: 0.875em;
      }
      blockquote{
        border: none;
        font-size: 0.875em;
        font-style: italic;
        line-height: 1.8em;
        &:before{
          content: "\201C";
          color: $pink;
          font-size: 1.5em;
        }
        &:after{
          content: "\201D";
          color: $pink;
          font-size: 1.5em;
        }
      }
    }
  }
}

.eventos{
  h2{
    width: 675px;
    margin: 0 auto;
  }
}

.servicios{
  background: #f4f4f4 url('../images/mainbg.jpg') repeat left top;
  max-width: none;
  text-align: center;
  padding: 40px 0 60px;
  h2{
    width: 310px;
  }
  h6{
    font-size:0.9em;
    margin: 2em 0;
  }
  ul{
  margin-bottom: 30px;
  overflow: hidden;
    li{
      float: left;
      width: 20%;
      text-align: center;
      height: 140px;
      margin-bottom: 25px;
    }
  }
}

.hotel-ofertas{
  padding-top: 50px;
  margin-top: 15px;
}

.info-hotel{
  display: none;
  position: absolute !important;
  z-index: 200;
  left: 50%;
  margin-left: -620px !important;
  padding: 40px 0 20px;
}