/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";
@import "hoteles";

/*--------------------------------*/
/* CLASES Y VARIABLES RECICLABLES */
/*--------------------------------*/

$font: 'Istok Web', sans-serif;
$gray: #999;
$light-gray: #666; 
$dark-gray: #333; 
$pink: #dc1c4d;
$btn-white-arrow: url('../images/white-arrow.png') no-repeat 95% center;
$black-lines-bg: url('../images/black-lines.png') no-repeat left center, url('../images/black-lines.png') no-repeat right center;
$white-lines-bg: url('../images/white-lines.png') no-repeat left center, url('../images/white-lines.png') no-repeat right center;
$pink-lines-bg: url('../images/doble-linea-roja.png') no-repeat left center, url('../images/doble-linea-roja.png') no-repeat right center;


body, h1, h2, h3, h4, h5, h6, p, a, span{
  font-family: $font;
  -webkit-font-smoothing: antialiased;
}

.row{
  width: 100%;
  position: relative;
}

.right{
  float: right;
}

.left{
  float: left;
}

.centered{
  margin: 0 auto;
  width: 940px;
  overflow: hidden;
}

.centered-large{
  margin: 0 auto;
  width: 1240px;
  overflow: hidden;
}

.two-col{
  width: 470px;
  overflow: hidden;
}

.pink{
  color: $pink;
}

.fb_iframe_widget{
  display: block;
  position: relative;
  margin-top: -5px;
}

p{
  font-size: 0.875em !important;
}

a.button{
  border: 2px solid #fff;
  font-size: 12px;
  text-transform: uppercase;
  background: $btn-white-arrow;
  padding: 10px 30px 10px 10px;
  box-shadow: none;
}

h2.lines{
  font-size: 3em;
  text-align: center;
  margin: 0.5em auto;
  background: $black-lines-bg;
  text-transform: uppercase;
  line-height: 1em;
  margin: 0.5em auto 0;
  &.pink{
    background: $pink-lines-bg;
    color: $pink;
    font-size: 1.875em;
  }
}

h3.lines{
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em auto;
  background: $black-lines-bg;
}

h4{
  font-size: 1.125em;
  font-weight: normal;
  color: #000;
}

.btn-galeria{
  width: 240px;
  height: 40px;
  line-height: 40px;
  display: block;
  background: transparent url("../images/camera.png") no-repeat 188px center;
  border: 2px solid;
  color: #fff;
  text-align: left;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  right: 124px;
  bottom: 45px;
  padding-left: 35px;
}

address{
  font-size: 0.875em;
  line-height: 1.7em;
}

span.note{
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 0.875em;
  margin-bottom: 3em;
}

.btn-black{
  background: black url("../images/white-arrow.png") no-repeat 95% center;
  height: 50px;
  border: none;
  color: #fff;
  width: auto;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75em;
  margin: 0 auto;
  padding: 15px 38px 15px 10px;
  &:hover{background-color:$pink; }
}

.btn-lines{
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  text-transform: uppercase;
  color: #000;
  font-size: 0.688em;
  line-height: 28px; 
  display: block;
  height: 28px;
  width: 150px;
  margin: 30px auto 0;
  overflow: hidden;
  text-align: center;
  &.ofertas{
    width: 145px;
  }
}

.menu-booking-slider{height:240px;height:100%;position:absolute;left:14%; top:0;
  img{border-bottom:1px solid transparent;display: block;}
  ul{background-color: rgba(black,0.5);padding:30px;height:100%;
    li{margin-top:10px;
      &:first-child{margin-top:0;}
      a{color:#cccccc;font-size:13px;text-transform: uppercase;@extend %trans;
        &:hover{color:white;}
        &.active{color:white;cursor: default;}
      }
    }
  }
}
      

/*@jimmy*/

%trans {
   @include transition(all 0.2s ease-in-out);
}

%select-style {
  -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        border: none;
        border-radius: 0;
        padding: 0 5px;
        background: #fff url('../images/down-arrow.png') no-repeat 235px center;
        text-transform: uppercase;
        font-size: 0.875em;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
        color: $dark-gray; 
}

select::-ms-expand {display: none;}//ie remove appearance


.booking-form{ 
  background: rgba(255,255,255,0.5);
  position: absolute;
  z-index: 2000;
  border: 1px solid rgba(255,255,255,0.75);
    select{
      -webkit-appearance: none;
      -moz-appearance: none;
      text-indent: 0.01px;
      text-overflow: '';
      border: none;
      border-radius: 0;
      text-transform: uppercase;
      font-size: 0.875em;
      font-weight: 600;
      -webkit-font-smoothing: antialiased;
      color: $dark-gray; 
      width: 100%;
      padding: 5px;
      margin: 1px 10px 0 0;
      background: white url("../images/down-arrow.png") no-repeat 200px center;
      text-transform: none;
      font-weight: normal;
    }
    input[type="text"]{font-size: 0.875em;font-weight: 600;-webkit-font-smoothing: antialiased;}
    input[type="button"]{background: $pink $btn-white-arrow;height: 40px;border: none;color: #fff;padding: 0 43px 0 19px;}
}







 ::-webkit-input-placeholder {
       color: #333;
    }
    
    :-moz-placeholder { /* Firefox 18- */
       color: #333;  
    }
    
    ::-moz-placeholder {  /* Firefox 19+ */
       color: #333;  
    }
    
    :-ms-input-placeholder {  
       color: #333;  
    }
.wood-parent{position: relative;}
ul.ofertas{
    margin: 0 auto;
    width: 940px;
    overflow: hidden;
    float: left;
    li{
      margin-bottom: 30px;
      padding-bottom: 40px;
      width: 300px;
      float: left;
      margin-right: 20px;
      background: #fff;
      text-align: center;
      &:last-child{
        margin-right: 0;
      }
      .top{
        position: relative;
        img{
          width: 100%;
        }
        .precio{
          position: absolute;
          top: 65%;
          left: 0;
          width: 100%;
          background: url('../images/shadow.png') no-repeat center center;
          background-size: auto 100%;
          span.desde{
            display: block;
            text-align: center;
            color: #fff;
            font-size: 0.688em;
            font-weight: 600;
            text-transform: uppercase;
          }
          span.price{
            display: block;
            font-weight: 700;
            font-size: 2.25em;
            text-align: center;
            color: #fff;
            text-decoration: underline;
            line-height: 1.2em;
          }
        }
      }
      .bottom{
        padding: 0 12px;
        h4{
          font-size: 1.125em;
          font-weight: normal;
          color: #000;
          text-transform: uppercase;
          text-align: center;
          margin-top: 1em;
          margin-bottom: 0.1em;
          white-space: normal;
        }
        h5{
          color: $pink;
          font-size: 0.688em;
          text-transform: uppercase;
          text-align: center;
        }
        p{
          color: $light-gray;
          font-style: italic;
          font-size: 0.875em;
          text-align: center;
        }
      }
    }
  }

.slide-text-header{
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 30px 20px 0;
      h3{
        font-size: 24px;
        text-align: right;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      span.slide-caption{
        font-style: italic;
        font-size: 0.875em;
        color: #fff;
        margin-bottom: 2em;
        display: block;
      }
}
 .slide-text-center{
        position: absolute;
        left: 0;
        top: 40%;
        width: 100%;
        h2{
          text-align: center;
          color: #fff;
          text-transform: uppercase;
          font-size: 3em;
          margin-bottom: 0;
          line-height: 1em;
          background: $white-lines-bg;
        }
        span{
          display: block;
          text-align: center;
          color: #fff;
          font-style: italic;
        }
        .button{
          width: 100px;
          margin: 28px auto 0;
          display: block;
        }
      }

.boxtext{padding:20px 0;background-color:white;}
.fbIcon{display: block;background:url('../images/ico-share-facebook.png') no-repeat center ;width:11px;height:20px;float:right;}
.twIcon{display: block;background:url('../images/ico-share-twitter.png')  no-repeat center;width:21px;height:20px;float:right;margin:0 5%;}




//@jimmy
.bgGray{background: url('../images/mainbg.jpg') repeat left top;max-width:none;padding:30px 0;margin-bottom: 20px;}
.bgFigures{background: url("../images/ofertasbg.jpg") repeat left top;padding:50px;}
.bgGraySimple{background-color: #f4f4f4;padding:50px 0;}
.clearfix:before,.clearfix:after {content: " "; /* 1 */display: table; /* 2 */}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}
.flexMedia img,.flexMedia figure,.flexMedia audio,.flexMedia video{max-width:
100% !important;}
.ir {background-color: transparent;border: 0;overflow: hidden;
/* IE 6/7 fallback */text-indent:-9999px;}
.ir:before {content: "";display: block;width: 0;height: 150%;}
.bgWhite{background-color: #FFF;}








/*--------------------------------*/
/*      ESTILOS ESPECIFICOS       */
/*--------------------------------*/

.left-tools{
  padding: 18px 0;
  float: left;
  &>span:first-child{
    border-right: 1px solid $gray;
    padding-right: 5px;
    margin-right: 5px;
  }
  a, span{
    color: $gray;
    font-size: 0.688em;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 10px;
    vertical-align: middle;
    &.tel{
      font-size: 14px;
      font-weight: 600;
      line-height: 14px;
    }
  }
} 

.menu-top{position: relative;padding: 0;
  a{
      font-size: 0.688em;
      line-height: 0.688em;
      font-weight: bold;
      color: $gray;
      text-transform: uppercase;
      text-decoration:none; 
    }//stylo en general para los a
  > li{
    float:right;
    margin: 13px 0 0 20px;
    position: relative;
   > a{padding: 8px 0;  
      border-bottom: 1px solid #e5e5e5;
      border-top: 1px solid #e5e5e5;
    }
    &:first-child > a{
      background: url('../images/down-arrow.png') no-repeat right center;
      padding-right: 15px;
    }
    &:hover > ul{display:block;}
  }//submenu idiomas

   ul{display:none;position:absolute;
    border: 1px solid #e5e5e5;
    position: absolute;
    padding: 20px 20px 0 30px;
    background-color: white;
    z-index: 1000;
    top: 30px; 
    right: 0px;
    width: 146px;
    background-color:white; z-index:1000;
    li{margin-bottom:20px;text-align:right;
      a{padding-right:25px; }
    }
    
      li:hover a{color:$pink;}

  }

}

//idiomas sprite
#ESPA{background: url('../images/flag-esp.png') no-repeat right center;}
#CATA{background: url('../images/flag-cat.png') no-repeat right center;}
#ENG{background: url('../images/flag-ingles.png') no-repeat right center;}
#DEUT{background: url('../images/flag-alemania.png') no-repeat right center;}
#FRAN{background: url('../images/flag-francia.png') no-repeat right center;}
#ITAL{background: url('../images/flag-italia.png') no-repeat right center;}


.main-slider{
  position: relative;
  height: 695px;
  .booking-form{
    width: 788px;
    height: 120px;
    left: 50%;
    top: 50%;
    margin-left: -394px;
    margin-top: -60px;
    padding: 0 20px;
    //cree una variable global para reutilizar
    h3.lines{
      width: 260px;
    }
    select{
      width: 252px;
      height: 38px;
      float: left;
      margin: 1px 10px 0 0;
    }
    input[type="text"]{
      width: 159px;
      height: 40px;
      float: left;
      margin-right: 10px;
      background: #fff url('../images/calendar-icon.png') no-repeat 130px center;
    }
   //saco placeholder en general type submit 

    
  }
  .cycle-pager{
    position: absolute;
    right: 30px;
    bottom: 133px;
    z-index: 2000;
    span{
      color: #fff;
      font-size: 50px;
      width: 20px;
      display: block;
      float: left;
      opacity: 0.5;
      &.cycle-pager-active{
        opacity: 1;
      }
    }
  }
  .slide{
    position: relative;
    .slide-text-header{//reutilizable
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 0 30px 20px 0;
      h3{
        font-size: 24px;
        text-align: right;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        margin-bottom: 0;
      }
      span.slide-caption{
        font-style: italic;
        font-size: 0.875em;
        color: #fff;
        margin-bottom: 2em;
        display: block;
      }
      a.button{
        float: right;
      }
    }
  }
}

.row.main-menu{
  box-shadow: 0px 3px 5px rgba(0,0,0,0.35);
  max-width: none;
  margin-bottom: 4px;
  nav{
    width: 786px;
    margin: 0 auto;
    a{
      position:relative;
      margin: 20px 14px;
      float: left;
      text-align: center;
      color: #333;
      font-weight: 600;
      text-transform: uppercase;
      -webkit-font-smoothing: antialiased;
      font-size: 0.938em;
      &.active, &:hover{
        text-decoration: underline;
  
        span{
          position: absolute;
          top:40px;
          width: 20px;
          height: 13px;
          background: url(../images/triangle-menu-active.png) no-repeat center;
          left: 50%;
          -webkit-transform:translate(-50%, -50%);
          -moz-transform:translate(-50%, -50%);
          -ms-transform:translate(-50%, -50%);
          transform:translate(-50%, -50%);
  
        }
      }
    }
  }
}

.row.ofertas{
  padding-bottom: 70px;
  max-width: none;
  background: url('../images/ofertasbg.jpg') repeat left top;
  h2.lines{
    width: 293px;
    line-height: 1em;
    margin: 0.5em auto 0;
  }
  //saco crear para items de ofertas en general
  .btn-lines{
    float: none;
  }
  
}

.row.eventos{
  margin: 20px auto;
  .cycle-slideshow{
    .cycle-pager{
      position: absolute;
      z-index: 2000;
      top: 32%;
      left: 50%;
      margin-left: -38px;
      span{
        color: #fff;
        font-size: 4em;
        width: 25px;
        float: left;
        opacity: 0.5;
        &.cycle-pager-active{
          opacity: 1;
        }
      }
    }
    .slide{
      position: relative;
    }
  }
}

.row.destinos{
  margin-bottom: 20px;
  padding-bottom: 70px;
  padding-top: 33px;
  max-width: none;
  background: url('../images/mainbg.jpg') repeat left top;
  & > div{
    width: 1240px;
    margin: 0 auto;
  }
  h2{
    width: 330px;
  }
  .btn-black{
    width: 222px;
    background: black url("../images/white-arrow.png") no-repeat 188px center;
  }
  ul{
    overflow: hidden;
    margin: 0 auto 2em;
    width: 940px;
    li{
      width: 20%;
      float: left;
      position: relative;
      img{
        width: 100%;
      }
      span{
        position: absolute;
        top: 43%;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.125em;
        left: 0;
        width: 100%;
        color: #fff;
        font-weight: 700;
      }
      .btn-lines.white{
        position: absolute;
        z-index: 100;
        left: 50%;
        border-bottom: 1px solid #fff;
        border-top: 1px solid #fff;
        color: #fff;
        text-align: center;
        width: 90px;
        margin-left: -45px;
        font-size: 0.688em;
        font-weight: 700;
        top: 46%;
      }
    }
  }
}

.social{
  padding-bottom: 32px;
  & > div{
    width: 270px;
    margin: 0 auto;
    ul{
      width: 345px;
      li{
        float: left;
        width: 115px;
      }
    }
  }
}

footer.row{
  background: $dark-gray;
  max-width: none;
}
.footer-top{
  padding: 27px 0;
  overflow: hidden;
  width: 940px;
  margin: 0 auto;
  a{
    float: left;
    height: 49px;
    width: 49px;
    margin-right: 10px;
    background: url('../images/social-sprite.png') no-repeat left top;
    text-indent: -9999px;
    &.facebook{
      background-position: 0 0;
    }
    &.twitter{
      background-position: -50px 0;
    }
    &.pinterest{
      background-position: -100px 0;
    }
    &.instagram{
      background-position: -150px 0;
    }
    &.youtube{
      background-position: -200px 0;
    }
  }
  form{
    h3{
      color: $pink;
      text-transform: uppercase;
      float: left;
      line-height: 40px;
      margin: 0;
    }
    input[type="text"]{
      width: 179px;
      float: left;
      height: 40px;
      margin: 0 10px 0 20px;
      border: none;
    }
    .btn.pink{
      background: #dc1c4d url("../images/white-arrow.png") no-repeat 95% center;
      height: 40px;
      border: none;
      color: #fff;
      padding: 0 43px 0 19px;
      text-transform: uppercase;
      font-size: 0.75em;
    }
  }
}

.footer-middle{
  background: url('../images/footer-bg.jpg') repeat left top;
  padding: 55px 0;
  overflow: hidden;
  & > div{
  width: 940px;
  margin: 0 auto;
    div{
      width: 20%;
      float: left;
      .city-title{
        display: block;
        text-align: center;
        color: #fff;
        font-weight: 700;
        margin-bottom: 4px;
      }
      a{
        display: block;
        text-align: center;
        font-size: 0.813em;
        color: #fff;
        line-height: 1.5em;
      }
    }
  }
}

.footer-bottom{
  background: #000;
  padding: 12px 20px 15px;
  overflow: hidden;
  > div{
    width: 940px;
    margin: 0 auto;
  }
  .btn-lines.white{
    float: left;
    margin-right: 20px;
    color: #fff;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    width: auto;
    margin-top: 0;
    font-weight: 700;
  }
  span.credits{
    color: $pink;
    font-weight: 700;
    text-align: right;
    display: block;
    line-height: 30px;
  }
}




 

/*----------------------------------------------------------------------

                   OFERTAS @jimmy

---------------------------------------------------------------------*/
/*helperclasesr*/
 

.booking-slider{position: relative;height: 455px;overflow:hidden;
  &.tall{
    height: 475px;
  }
  .booking-form{width:240px;right: 10%;top: 5%;padding:10px;
    select{
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
        border: none;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 0.875em;
        font-weight: 600;
        -webkit-font-smoothing: antialiased;
        color: $dark-gray; 
        width: 100%;
        padding: 5px;
        margin: 1px 10px 0 0;
        background: white url("../images/down-arrow.png") no-repeat 200px center;
        text-transform: none;
        font-weight: normal;
    }
    h3.lines{
      margin-top: 0;
    }
    input[type="text"]{margin-top:10px; background: #fff url('../images/calendar-icon.png') no-repeat 191px center;border: none;}
    #codpromo{
      background: #fff;
    }
    input[type="button"]{width: 100%;margin-top: 10px;}
  }
  .slide{
    position: relative;
  } 
}


.menu-booking-slider{height:240px;height:100%;position:absolute;left:14%;
  img{border-bottom:1px solid transparent;display: block;}
  ul{background-color: rgba(black,0.5);padding:30px;height:100%;
    li{margin-top:10px; height: 20px;
      &:first-child{margin-top:0;}
      a{color:#cccccc;font-size:13px;text-transform: uppercase;@extend %trans; font-weight: 700;
        &:hover{color:white;}
        &.active{color:white;cursor: default;}
      }
    }
  }
}


/*----------------------------------------------------------------------

                  MEJORES OFERTAS @jimmy

---------------------------------------------------------------------*/
.mejores-ofertas{
  .title-mejores-ofertas{margin-bottom:60px;}
  h2{margin-bottom:0;} 
  select{border:1px solid #999;@extend %select-style;
  width: 180px;
  font-weight: normal;
  text-transform: none;
  background: white url("../images/down-arrow.png") no-repeat 165px center;
  padding: 7px 10px;
  }
  .select{
    padding-top: 10px;
  }
  ul.ofertas{
    li{
      /*padding-bottom: 40px;margin-bottom:20px;float:none;width:285px;*/
      &:nth-child(3n){
        margin-right: 0;
      }  
    }
  }
   
}

.submenu{
  padding:20px 0;
  .breadcumbs{
    width: 500px;
      li{ float:left;
       a{font-size:13px;color:$light-gray;font-style:italic;margin-right:5px; 
        &.active{color:$dark-gray;cursor:inherit;
          &:hover{color:$dark-gray;cursor:inherit;}
        }
        &:hover{color:$dark-gray;}
      }
      }
    
  }
  .icons{text-align:left;
    ul li{float:right;}
    .rss{width:25px;height:25px;display: block;
      background: url('../images/ico-rss.png') no-repeat left top;}
  }
} 

/*----------------------------------------------------------------------

                   Detalle OFERTA @jimmy

---------------------------------------------------------------------*/
.clearPadding{padding:0 !important;}

.ofertas-detalle{
  img{width:100%;}
  h2.lines{width: 760px;}
  p.btn-lines{margin-bottom:30px !important;width:110px; padding-top: 3px;
  line-height: 23px;}
  #Info{text-align:center;padding:30px;width: 470px;
    span.price,span.desde{color:black;display: block;text-align: center; 
  }
    span.price{margin-bottom:30px;}
    span.desde{font-size: 0.688em;font-weight: 600;text-transform: uppercase;}
    span.price{font-weight: 700;font-size: 2.25em;text-decoration: underline;line-height: 1.2em;}
    span:last-child{color:$gray;}
    h5{color: $pink;font-size: 0.688em;text-transform: uppercase;text-align: center;}
    p{color: $light-gray;font-style: italic;font-size: 0.875em;text-align: center;}
    hr{margin:50px 0}
  }
}

.detalle{
  .clearPadding{
    width: 470px;
    float: left;
  }
}

#lists{color:$dark-gray;margin-top:40px;
  ul{list-style:inside;color:$pink;
    span{color:$dark-gray;}
  }
  h4,p{font-size:0.85em;}
  h4,li{margin-bottom:20px;}
}

#disponibles-ofertas{
  h5{font-size:18px;margin-bottom:30px;}
  li{background-color: #FFF;padding:10px;margin-top:10px;
    &:first-child{margin-top:0;} 
  }
  .info{padding-top:10px;}
  h3{font-size:1.125em;text-transform:uppercase }
  h3 + span{display:block;color: $pink;font-size: 0.688em;text-transform:uppercase;}
  .btn-black{display:inline-block;margin-left:20px; }
  li > div:last-child{text-align:right;}
  span.price{display:inline;color:black;font-size:36px;text-decoration:none; }
  .des{font-size:10px; }
  .bgWhite > div:first-child{padding:0 !important;}

  

}


/*----------------------------------------------------------------------

                   DESTINOS @jimmy

---------------------------------------------------------------------*/
.destinos-mapas{
  h2.lines{width:600px;}
}

.items-servicios{
  li{margin-top:20px;position: relative;height: 575px;
    &:first-child{margin-top: 0;}
    &:hover{cursor: pointer;}
    &:hover .overlay{@include opacity(1);@extend %trans;}
    &:hover .button{background-color:$pink;color:white;border-color:$pink;}
   }
   .overlay{@include opacity(0);position: absolute;width:100%;height:100%;
    top:0;left:0;background-color:rgba(black,0.5);
   }


}


/*----------------------------------------------------------------------

                   DESTINOS-ciudad @jimmy

---------------------------------------------------------------------*/

.info-destino-ciudad{padding:10px 0;}

.info-destino-ciudad .info{
  h5{font-size:30px;color:$dark-gray; }
  p{font-size:14px;color:$dark-gray;}
}

.tiempo{text-align:center;margin:0 auto;
  p{margin: 0 0 5px 0;}
  img{display: block;margin:0 auto;}
  .grados{display: block;font-size:36px;color:$dark-gray;}
  .grados-azul{color:#1c84dc;}
  .grados-rojo{color:#dc1c4d;}
  .clima{font-size:14px;}

}


.slider-destinos-ciudad .cycle-slideshow{
  width:940px;position: relative;
  div.cycle-prev,div.cycle-next{width:36px;height:36px;border:2px solid white;position:absolute;z-index: 800;cursor: pointer;top:50%;}
  .cycle-prev{left:5%;background: url("../images/white-arrow-left.png") no-repeat 50% center;}
  .cycle-next{ background: url("../images/white-arrow.png") no-repeat 50% center;right:5%;}
 
}

.items-2{
  li{float:left;width:48%;margin:0 1%;margin-bottom:40px;}
  .cont-img{margin-right:5%;float:left;width:40%;}
  .cont-info{float:left;width:55%;}
  .cont-info h4{
    font-size: 18px;
    font-weight: normal;
    color: #000;
    text-transform: uppercase;
    white-space: normal;
    margin:inherit;
  }
  .cont-info h5{
    color: #dc1c4d;
    font-size:11px;
    text-transform: uppercase;
    margin-bottom:25px;

    }
    .btn-black{margin:inherit;} 
    + .btn-lines{margin-bottom:50px;text-align:center;}
    
}
 


.itemsPink{color:$pink;text-align:center;
  ul li{margin-bottom:20px;
       a{color:$pink;font-size:12px;font-weight:bold;text-transform: uppercase }
  }
  h2,span{color:$pink;}
  h2.lines{
    background: $pink-lines-bg;
  }
  
}

.destinos-ofertas{border-right:1px solid white;
  ul.ofertas{width:initial;}
}


/*----------------------------------------------------------------------

                   DESTINOS-ciudad-agenda @jimmy

---------------------------------------------------------------------*/


#hotel-select-agenda{@extend %select-style;height:40px;border:1px solid $light-gray;
  background: white url("../images/down-arrow.png") no-repeat 200px center;
}

.info-destino-ciudad-detalle{
  p{font-size:14px;color:$dark-gray;}
     h4{
          font-size: 30px;
          font-weight: normal;
          color: #000;
          text-transform: uppercase;
          margin-top: 1em;
          margin-bottom: 0.1em;
          white-space: normal;
        }
        h5{
          color: $pink;
          font-size: 14px;
          text-transform: uppercase;
        }
        .btn-black{display:block;width:200px;margin:0;background:black url("../images/white-arrow.png") no-repeat  150px center}
        p.btn-lines{margin-bottom:20px; }
        + .btn-lines{margin-bottom:30px;text-align:center}
    .info{
      width: 66.66%;
      float: left;
      padding-right: 2%;
    }
}




/*----------------------------------------------------------------------

                             Eventos

---------------------------------------------------------------------*/
.eventos-title{margin-bottom:50px;
  .btn-black{width: 260px;margin: 0;background: #000 url("../images/white-arrow.png") no-repeat 230px center;margin-top: 20px;}
+ .slider-destinos-ciudad{margin-bottom:20px;}
}

.items-eventos{
  .btn-black{text-align:left;width:210px;background: #000 url("../images/white-arrow.png") no-repeat 172px center;}
  h5{margin-bottom:5px; }
}


/*----------------------------------------------------------------------

                             Reservar

---------------------------------------------------------------------*/
#mask{position:fixed;top:0;left:0;background:rgba(0,0,0,0.6);z-index:1000;width:100%;height:100%;}
#mask2{position:fixed;top:0;left:0;background:rgba(0,0,0,0.6);z-index:1000;width:100%;height:100%;@include opacity(0);}//eliminar y utilizar mask 1 cuadno este listp


.overlay{z-index:1500;background-color: #FFF !important;position:fixed;
    select{border: 1px solid #cccccc;}
}

#icon-close{position:absolute; display:block;background:black url("../images/ico-cerrar-blanco.png") no-repeat center center; width:40px; height:40px; top:-42px;;right:0;}


/*----------------------------------------------------------------------

                             #mis-reservas

---------------------------------------------------------------------*/
.popUp{width:320px;padding:20px;z-index:2000;background-color: #FFF;position:fixed;color:#333333;margin-left:-160px;left:50%;top:25%;
  h3{font-size:18px;line-height:18px;margin-bottom:15px; text-transform: uppercase }
  p{font-size:14px;line-height:20px;margin-bottom:5px; }
  form{margin-top:30px; 
      p:first-child{margin-bottom:10px;}
      label{font-weight: bold;font-size:13px;width:30%;text-align:right;float:left;margin-top:10px;height:40px;line-height:30px }
      input{width:65%;height:40px;border: 1px solid #333333;float:right;}
      input[type="submit"]{
        background: black url("../images/white-arrow.png") no-repeat 95px center;
          height: 50px;
          border: none;
          color: #fff;
          padding: 0 53px 0 19px;
          display: block;
          width: 120px;
          line-height: 50px;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 0.75em;
          margin: 0 auto;
          @extend %trans;
          &:hover{background-color:$pink;
            }
    }
  }
}

// #reservar{z-index:1000;}
#contra{
  .btn-black{width:210px;background: black url("../images/white-arrow.png") no-repeat 210px center;}
}
#agencia{
    a{border-top:1px solid black;border-bottom:1px solid black;padding:10px 0;display:block;margin:0 auto;width:200px;font-size:11px;color:black;text-align:center;margin-top:30px;  }

}

//aviso
#aviso{width:680px;margin-left:-340px;left:50%;top:15%;overflow-y: scroll;height: 400px; }
#scroll{ 
        h1{font-size:14px;} 
        p{font-size:14px; }
   }
/*----------------------------------------------------------------------

                   PRESENTACION @Luis

---------------------------------------------------------------------*/
//Menu de header
.main-menu + .booking-slider{
  margin-top: 18px;
}

.logo-icono{
  position: absolute;
  left: 50%;
  top:30px;

  -webkit-transform:translate(-50%, -50%);
  -moz-transform:translate(-50%, -50%);
  -ms-transform:translate(-50%, -50%);
  transform:translate(-50%, -50%);
}

//Presentacion main
.subPage-title{
  font-size: 30px;
}

.contenido-presentacion, .contenido-calidad{
  width: 620px;
  margin-right:20px;
}

.presentacion{
  width: 828px;
  margin: 0 auto;

  h2.lines{
  width: 620px;
  }
}

.presentacion-video{
  text-align: center;
  
  iframe{
  border: 10px solid #fff; 
  }
}
//filosofia main
.filosofia-vision{
  padding-top: 60px;
  padding-bottom: 100px;

  .lines{
  width: 276px;
  }
}
.filosofia-contenedor{
  width: 420px;
  margin: 0 auto;

  img{
    display: block;
    margin: 0 auto;
  }

  .note{
    margin-bottom: 8px;
    text-align: center;
  } 
}

.filosofia-mision{
  padding:60px 0;

  .lines{
    width: 266px;
  }
}

.filosofia-valores{
  .lines{
    width: 340px;
  }

  .filosofia-contenedor{
    margin-bottom: 45px; 
  }
}

.valores-contenedor li{
  width: 300px;
  text-align: center;
  
  span{
    color: #666666;
    line-height: 16px;
  }

  h4{
    font-size: 18px;
    margin-bottom: 10px;
  }

}

.valores-top li + li{
  margin-left: 20px; 
}

.valores-bottom{
  li:first-child{
    margin-left: 150px;
    margin-right: 40px; 
  }
}

//Calidad main
.contenido-calidad{
  li{
    margin-bottom: 35px;

    span{
      font-weight: bold;
    }
    :before{
    content: "• ";
    color: #dc1c4d;
    }
  }

  p{
    margin-bottom: 40px; 
  }
}

.calidad-ilustracion, .medioAmbiente-ilustracion{
  width: 300px;

  img{
    display: block;
    margin: 0 auto;
    margin-bottom: 35px; 
  }
}

//noticias
.contenido-noticias{
  padding-top: 56px;

  & + .btn-lines.boldText{
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.contenido-noticias article{
  margin-bottom: 56px;
  img{
    width: 212px;
  }
  aside{
    width: 713px;
    margin-left: 15px;

    h4{
      margin-top: 0;
      font-size: 18px;
      margin-bottom: 8px;
      text-transform: uppercase;
    }

    > span{
      font-size: 12px; 
      color: #dc1c4d;
      font-weight: bold;
    }

    p{
      margin: 8px 0;
      font-style: italic;
      color: #666666;
    }

    a{
      width: 119px;
      height: 40px;
      padding: 12px 20px;
      line-height: 19px;
      background-position-x: 90px;
    }

  }
}




//404
.page-error{margin-bottom:20px; 
  .btn-black{background-color:transparent;border:2px solid white; width: 200px;
    background-position: 155px;margin:0;display:inline-block;}
  .slide-text-header{bottom:100px;background-color: transparent;text-align:right;
    h1{font-size:36px;line-height:36px;color:white;text-align:right; }
   }
} 

//contacto

.contacto{background: url("../images/mainbg.jpg") repeat left top;
  .boxRig{width:440px;float:left;}
  .boxLeft{width:470px;float:right}
  h3{font-size:18px;text-transform:uppercase;font-weight:500;margin:0;margin-bottom:7px; }
  h4{font-weight: 400;margin:0}
  p{font-size:14px;font-weight: 300;}
  span{font-style:italic; display:block;color:#666666;font-size:14px;line-height:14px;margin-bottom:10px; }
  .linea{background: url('../images/black-lines.png') repeat-x left center;margin-top:30px;height: 20px; }
  a{color:$pink;font-size:14px;line-height:14px;text-decoration:underline;padding-bottom:3px; }
  #header{margin-bottom:40px; }
  #body{margin-bottom:50px; }
  #footer{display:none;}
  select{@extend %select-style;border: 2px solid #e5e5e5;
    color: #333333;
    font-size: 13px;
    font-weight: 200;
    width: 300px;
    padding-right: 20px;
    background-position-x: 267px;
    padding:5px;}
}

//newsletter
.newSletter{width:600px;margin:0 auto;background: url("../images/mainbg.jpg") repeat left top;
  .wrap{margin-bottom:10px;}
  .small{text-align:right;float:left;width:30%;margin-right:5%;
    label{font-size:12px;font-weight:bold;line-height:30px;font-weight: 600;
text-transform: uppercase;}
  }
  .large{float:left;width:65%;}
  .red{color:$pink;}
   input[type="text"],input[type="email"],select{/*height:40px !important;*/background-color:white;border:1px solid #9b9b9b !important;padding:5px;color:#333333 !important;font-size:13px !important;color:#333333 !important;}//se le sobre escriben los valores
  input:focus{border-color:black !important; }
  

  //select
  #trata,#pais{width:135px;background: #fff url('../images/down-arrow.png') no-repeat 117px center;
    @extend %select-style;font-weight:normal;
  }
  #dia{width:70px;background: #fff url('../images/down-arrow.png') no-repeat 50px center;
    @extend %select-style;font-weight:normal;}
  #mes{width:120px;margin:0 10px;background: #fff url('../images/down-arrow.png') no-repeat 100px center;
    @extend %select-style;font-weight:normal;}
  #ano{width:100px;background: #fff url('../images/down-arrow.png') no-repeat 75px center;
    @extend %select-style;font-weight:normal;}

    .three{ 
      input{height: 0 !important;}
      label{display:inline;margin:0 5px;}
  }
  .alig{text-align:right;
      input{height: 0 !important;margin-right:5px;}
      a{color:$pink;text-decoration:underline; }
  }
  .submit{text-align:right;
    input{line-height: 0;
      background-position-x: 90px;
      width: 130px;
      margin-top: 20px;}
  }
  
}


//error and send
#NewsError,#Newssend{margin-top:30px;text-align:center;padding:15px 30px;background-color:white;
  h3{font-size:14px;text-transform: uppercase}
  p{font-size:14px;
    span{color:$pink;}
  }
 }

#NewsError{
  h3{color:$pink;}
  p{font-size:14px;
    span{color:$pink;}
  }
 }

#Newssend{
  h3{color:#009900;}
 
 }

/*         ui jquery css   */
/*! jQuery UI - v1.10.4 - 2014-02-12
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.datepicker.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=0&bgColorHeader=%23ffffff&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=%23ffffff&fcHeader=%23dc1c4d&iconColorHeader=%23000000&bgColorContent=%23ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=%23ffffff&fcContent=%23dc1c4d&iconColorContent=%23000000&bgColorDefault=%23ffffff&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=%23ffffff&fcDefault=%23000000&iconColorDefault=%23ffffff&bgColorHover=%23dc1c4d&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=%23ffffff&fcHover=%23ffffff&iconColorHover=%23454545&bgColorActive=%23dc1c4d&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=%23ffffff&fcActive=%23f5f5f5&iconColorActive=%23454545&bgColorHighlight=%23ffffff&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=%23ffffff&fcHighlight=%23dc1c4d&iconColorHighlight=%230b0b0b&bgColorError=%23fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=%23cd0a0a&fcError=%23cd0a0a&iconColorError=%23cd0a0a&bgColorOverlay=%23ffffff&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=%23ffffff&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-datepicker{width:17em;padding:.2em .2em 0;display:none}.ui-datepicker .ui-datepicker-header{position:relative;padding:.2em 0}.ui-datepicker .ui-datepicker-prev,.ui-datepicker .ui-datepicker-next{position:absolute;top:2px;width:1.8em;height:1.8em}.ui-datepicker .ui-datepicker-prev-hover,.ui-datepicker .ui-datepicker-next-hover{top:1px}.ui-datepicker .ui-datepicker-prev{left:2px}.ui-datepicker .ui-datepicker-next{right:2px}.ui-datepicker .ui-datepicker-prev-hover{left:1px}.ui-datepicker .ui-datepicker-next-hover{right:1px}.ui-datepicker .ui-datepicker-prev span,.ui-datepicker .ui-datepicker-next span{display:block;position:absolute;left:50%;margin-left:-8px;top:50%;margin-top:-8px}.ui-datepicker .ui-datepicker-title{margin:0 2.3em;line-height:1.8em;text-align:center}.ui-datepicker .ui-datepicker-title select{font-size:1em;margin:1px 0}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:49%}.ui-datepicker table{width:100%;font-size:.9em;border-collapse:collapse;margin:0 0 .4em}.ui-datepicker th{padding:.7em .3em;text-align:center;font-weight:bold;border:0}.ui-datepicker td{border:0;padding:1px}.ui-datepicker td span,.ui-datepicker td a{display:block;padding:.2em;text-align:right;text-decoration:none}.ui-datepicker .ui-datepicker-buttonpane{background-image:none;margin:.7em 0 0 0;padding:0 .2em;border-left:0;border-right:0;border-bottom:0}.ui-datepicker .ui-datepicker-buttonpane button{float:right;margin:.5em .2em .4em;cursor:pointer;padding:.2em .6em .3em .6em;width:auto;overflow:visible}.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{float:left}.ui-datepicker.ui-datepicker-multi{width:auto}.ui-datepicker-multi .ui-datepicker-group{float:left}.ui-datepicker-multi .ui-datepicker-group table{width:95%;margin:0 auto .4em}.ui-datepicker-multi-2 .ui-datepicker-group{width:50%}.ui-datepicker-multi-3 .ui-datepicker-group{width:33.3%}.ui-datepicker-multi-4 .ui-datepicker-group{width:25%}.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header{border-left-width:0}.ui-datepicker-multi .ui-datepicker-buttonpane{clear:left}.ui-datepicker-row-break{clear:both;width:100%;font-size:0}.ui-datepicker-rtl{direction:rtl}.ui-datepicker-rtl .ui-datepicker-prev{right:2px;left:auto}.ui-datepicker-rtl .ui-datepicker-next{left:2px;right:auto}.ui-datepicker-rtl .ui-datepicker-prev:hover{right:1px;left:auto}.ui-datepicker-rtl .ui-datepicker-next:hover{left:1px;right:auto}.ui-datepicker-rtl .ui-datepicker-buttonpane{clear:right}.ui-datepicker-rtl .ui-datepicker-buttonpane button{float:left}.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,.ui-datepicker-rtl .ui-datepicker-group{float:right}.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header{border-right-width:0;border-left-width:1px}.ui-widget{font-family:Verdana,Arial,sans-serif;font-size:1.1em}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Verdana,Arial,sans-serif;font-size:1em}.ui-widget-content{border:1px solid #fff;background:#fff url(../images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;color:#dc1c4d}.ui-widget-content a{color:#dc1c4d}.ui-widget-header{border:1px solid #fff;background:#fff url(../images/ui-bg_highlight-soft_75_ffffff_1x100.png) 50% 50% repeat-x;color:#dc1c4d;font-weight:bold}.ui-widget-header a{color:#dc1c4d}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #fff;background:#fff url(../images/ui-bg_glass_75_ffffff_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#000}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#000;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #fff;background:#dc1c4d url(../images/ui-bg_glass_75_dc1c4d_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#fff}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited{color:#fff;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #fff;background:#dc1c4d url(../images/ui-bg_glass_65_dc1c4d_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#f5f5f5}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#f5f5f5;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fff;background:#fff url(../images/ui-bg_glass_55_ffffff_1x400.png) 50% 50% repeat-x;color:#dc1c4d}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#dc1c4d}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#fef1ec url(../images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;color:#cd0a0a}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#cd0a0a}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#cd0a0a}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.ui-icon{width:16px;height:16px}.ui-icon,.ui-widget-content .ui-icon{background-image:url(../images/ui-icons_000000_256x240.png)}.ui-widget-header .ui-icon{background-image:url(../images/ui-icons_000000_256x240.png)}.ui-state-default .ui-icon{background-image:url(../images/ui-icons_ffffff_256x240.png)}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url(../images/ui-icons_454545_256x240.png)}.ui-state-active .ui-icon{background-image:url(../images/ui-icons_454545_256x240.png)}.ui-state-highlight .ui-icon{background-image:url(../images/ui-icons_0b0b0b_256x240.png)}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(../images/ui-icons_cd0a0a_256x240.png)}.ui-icon-blank{background-position:16px 16px}.ui-icon-carat-1-n{background-position:0 0}.ui-icon-carat-1-ne{background-position:-16px 0}.ui-icon-carat-1-e{background-position:-32px 0}.ui-icon-carat-1-se{background-position:-48px 0}.ui-icon-carat-1-s{background-position:-64px 0}.ui-icon-carat-1-sw{background-position:-80px 0}.ui-icon-carat-1-w{background-position:-96px 0}.ui-icon-carat-1-nw{background-position:-112px 0}.ui-icon-carat-2-n-s{background-position:-128px 0}.ui-icon-carat-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-64px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-64px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:0 -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-on{background-position:-96px -144px}.ui-icon-radio-off{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:0}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:0}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:0}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:0}.ui-widget-overlay{background:#fff url(../images/ui-bg_flat_0_ffffff_40x100.png) 50% 50% repeat-x;opacity:.3;filter:Alpha(Opacity=30)}.ui-widget-shadow{margin:-8px 0 0 -8px;padding:8px;background:#fff url(../images/ui-bg_flat_0_ffffff_40x100.png) 50% 50% repeat-x;opacity:.3;filter:Alpha(Opacity=30);border-radius:8px}





















