/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby200/lib/ruby/gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*--------------------------------*/
/* CLASES Y VARIABLES RECICLABLES */
/*--------------------------------*/
/* line 22, ../sass/screen.scss */
body, h1, h2, h3, h4, h5, h6, p, a, span {
  font-family: "Istok Web", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* line 27, ../sass/screen.scss */
.row {
  width: 100%;
}

/* line 31, ../sass/screen.scss */
.right {
  float: right;
}

/* line 35, ../sass/screen.scss */
.left {
  float: left;
}

/* line 39, ../sass/screen.scss */
a.button {
  border: 2px solid #fff;
  font-size: 12px;
  text-transform: uppercase;
  background: url("../images/white-arrow.png") no-repeat 95% center;
  padding: 10px 30px 10px 10px;
  box-shadow: none;
}

/* line 48, ../sass/screen.scss */
h2.lines {
  font-size: 3em;
  text-align: center;
  margin: 0.5em auto;
  background: url("../images/black-lines.png") no-repeat left center, url("../images/black-lines.png") no-repeat right center;
  text-transform: uppercase;
  line-height: 1em;
  margin: 0.5em auto 0;
}

/* line 58, ../sass/screen.scss */
h3.lines {
  font-size: 1.5em;
  text-align: center;
  margin: 0.5em auto;
  background: url("../images/black-lines.png") no-repeat left center, url("../images/black-lines.png") no-repeat right center;
}

/* line 65, ../sass/screen.scss */
h4 {
  font-size: 1.125em;
  font-weight: normal;
  color: #000;
}

/* line 71, ../sass/screen.scss */
span.note {
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 0.875em;
  margin-bottom: 3em;
}

/* line 79, ../sass/screen.scss */
.btn-black {
  background: black url("../images/white-arrow.png") no-repeat 101px center;
  height: 50px;
  border: none;
  color: #fff;
  padding: 0 53px 0 19px;
  display: block;
  width: 128px;
  line-height: 50px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.75em;
  margin: 0 auto;
}
/* line 93, ../sass/screen.scss */
.btn-black:hover {
  background-color: #dc1c4d;
}

/* line 96, ../sass/screen.scss */
.btn-lines {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
  text-transform: uppercase;
  color: #000;
  font-size: 0.688em;
  line-height: 28px;
  display: block;
  height: 28px;
  width: 150px;
  margin: 30px auto 0;
  overflow: hidden;
}

/*@jimmy*/
/* line 115, ../sass/screen.scss */
.btn-black, .menu-booking-slider ul li a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* line 119, ../sass/screen.scss */
.booking-form select, .mejores-ofertas select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  border: none;
  border-radius: 0;
  padding: 0 5px;
  background: white url("../images/down-arrow.png") no-repeat 235px center;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  color: #333333;
}

/* line 137, ../sass/screen.scss */
.booking-form {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  z-index: 2000;
  border: 1px solid rgba(255, 255, 255, 0.75);
}
/* line 143, ../sass/screen.scss */
.booking-form input[type="text"] {
  font-size: 0.875em;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}
/* line 144, ../sass/screen.scss */
.booking-form input[type="button"] {
  background: #dc1c4d url("../images/white-arrow.png") no-repeat 95% center;
  height: 40px;
  border: none;
  color: #fff;
  padding: 0 43px 0 19px;
}

/* line 153, ../sass/screen.scss */
::-webkit-input-placeholder {
  color: #333;
}

/* line 157, ../sass/screen.scss */
:-moz-placeholder {
  /* Firefox 18- */
  color: #333;
}

/* line 161, ../sass/screen.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  color: #333;
}

/* line 165, ../sass/screen.scss */
:-ms-input-placeholder {
  color: #333;
}

/* line 169, ../sass/screen.scss */
ul.ofertas {
  margin: 0 auto;
  width: 940px;
  overflow: hidden;
}
/* line 173, ../sass/screen.scss */
ul.ofertas li {
  padding-bottom: 40px;
  width: 300px;
  float: left;
  margin-right: 20px;
  background: #fff;
}
/* line 179, ../sass/screen.scss */
ul.ofertas li:last-child {
  margin-right: 0;
}
/* line 182, ../sass/screen.scss */
ul.ofertas li .top {
  position: relative;
}
/* line 184, ../sass/screen.scss */
ul.ofertas li .top img {
  width: 100%;
}
/* line 187, ../sass/screen.scss */
ul.ofertas li .top .precio {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  background: url("../images/shadow.png") no-repeat center center;
  background-size: auto 100%;
}
/* line 194, ../sass/screen.scss */
ul.ofertas li .top .precio span.desde {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 0.688em;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 202, ../sass/screen.scss */
ul.ofertas li .top .precio span.price {
  display: block;
  font-weight: 700;
  font-size: 2.25em;
  text-align: center;
  color: #fff;
  text-decoration: underline;
  line-height: 1.2em;
}
/* line 213, ../sass/screen.scss */
ul.ofertas li .bottom {
  padding: 0 12px;
}
/* line 215, ../sass/screen.scss */
ul.ofertas li .bottom h4 {
  font-size: 1.125em;
  font-weight: normal;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.1em;
  white-space: normal;
}
/* line 225, ../sass/screen.scss */
ul.ofertas li .bottom h5 {
  color: #dc1c4d;
  font-size: 0.688em;
  text-transform: uppercase;
  text-align: center;
}
/* line 231, ../sass/screen.scss */
ul.ofertas li .bottom p {
  color: #666666;
  font-style: italic;
  font-size: 0.875em;
  text-align: center;
}

/* line 241, ../sass/screen.scss */
.slide-text-header {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 30px 20px 0;
}
/* line 246, ../sass/screen.scss */
.slide-text-header h3 {
  font-size: 24px;
  text-align: right;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 254, ../sass/screen.scss */
.slide-text-header span.slide-caption {
  font-style: italic;
  font-size: 0.875em;
  color: #fff;
  margin-bottom: 2em;
  display: block;
}

/* line 262, ../sass/screen.scss */
.slide-text-center {
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
}
/* line 267, ../sass/screen.scss */
.slide-text-center h2 {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 3em;
  margin-bottom: 0;
  line-height: 1em;
  background: url("../images/white-lines.png") no-repeat left center, url("../images/white-lines.png") no-repeat right center;
}
/* line 276, ../sass/screen.scss */
.slide-text-center span {
  display: block;
  text-align: center;
  color: #fff;
  font-style: italic;
}
/* line 282, ../sass/screen.scss */
.slide-text-center .button {
  width: 100px;
  margin: 28px auto 0;
  display: block;
}

/* line 289, ../sass/screen.scss */
.boxtext {
  padding: 20px 0;
  background-color: white;
}

/* line 292, ../sass/screen.scss */
.bgGray {
  background: url("../images/mainbg.jpg") repeat left top;
  max-width: none;
  padding: 30px 0;
  margin-bottom: 20px;
}

/* line 293, ../sass/screen.scss */
.bgGraySimple {
  background-color: #f4f4f4;
  padding: 50px 0;
}

/* line 294, ../sass/screen.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 295, ../sass/screen.scss */
.clearfix:after {
  clear: both;
}

/* line 296, ../sass/screen.scss */
.clearfix {
  *zoom: 1;
}

/* line 297, ../sass/screen.scss */
.flexMedia img, .flexMedia figure, .flexMedia audio, .flexMedia video {
  max-width: 100% !important;
}

/* line 299, ../sass/screen.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  text-indent: -9999px;
}

/* line 301, ../sass/screen.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 302, ../sass/screen.scss */
.bgWhite {
  background-color: #FFF;
}

/*--------------------------------*/
/*      ESTILOS ESPECIFICOS       */
/*--------------------------------*/
/* line 315, ../sass/screen.scss */
.left-tools {
  padding: 18px 0;
}
/* line 317, ../sass/screen.scss */
.left-tools > span:first-child {
  border-right: 1px solid #999999;
  padding-right: 5px;
  margin-right: 5px;
}
/* line 322, ../sass/screen.scss */
.left-tools a, .left-tools span {
  color: #999999;
  font-size: 0.688em;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 10px;
  vertical-align: middle;
}
/* line 329, ../sass/screen.scss */
.left-tools a.tel, .left-tools span.tel {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
}

/* line 337, ../sass/screen.scss */
.menu-top {
  padding: 0;
}
/* line 339, ../sass/screen.scss */
.menu-top li {
  float: right;
  margin: 13px 0 0 20px;
  position: relative;
}
/* line 343, ../sass/screen.scss */
.menu-top li a {
  font-size: 0.688em;
  font-weight: bold;
  padding: 8px 0;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  color: #999999;
  text-transform: uppercase;
}
/* line 352, ../sass/screen.scss */
.menu-top li:first-child a {
  background: url("../images/down-arrow.png") no-repeat right center;
  padding-right: 15px;
}

/* line 360, ../sass/screen.scss */
.main-slider {
  position: relative;
  height: 695px;
}
/* line 363, ../sass/screen.scss */
.main-slider .booking-form {
  width: 788px;
  height: 120px;
  left: 50%;
  top: 50%;
  margin-left: -394px;
  margin-top: -60px;
  padding: 0 20px;
}
/* line 372, ../sass/screen.scss */
.main-slider .booking-form h3.lines {
  width: 260px;
}
/* line 375, ../sass/screen.scss */
.main-slider .booking-form select {
  width: 252px;
  height: 38px;
  float: left;
  margin: 1px 10px 0 0;
}
/* line 381, ../sass/screen.scss */
.main-slider .booking-form input[type="text"] {
  width: 159px;
  height: 40px;
  float: left;
  margin-right: 10px;
  background: white url("../images/calendar-icon.png") no-repeat 130px center;
}
/* line 393, ../sass/screen.scss */
.main-slider .cycle-pager {
  position: absolute;
  right: 30px;
  bottom: 133px;
  z-index: 2000;
}
/* line 398, ../sass/screen.scss */
.main-slider .cycle-pager span {
  color: #fff;
  font-size: 50px;
  width: 20px;
  display: block;
  float: left;
  opacity: 0.5;
}
/* line 405, ../sass/screen.scss */
.main-slider .cycle-pager span.cycle-pager-active {
  opacity: 1;
}
/* line 410, ../sass/screen.scss */
.main-slider .slide {
  position: relative;
}
/* line 412, ../sass/screen.scss */
.main-slider .slide .slide-text-header {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 30px 20px 0;
}
/* line 417, ../sass/screen.scss */
.main-slider .slide .slide-text-header h3 {
  font-size: 24px;
  text-align: right;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 0;
}
/* line 425, ../sass/screen.scss */
.main-slider .slide .slide-text-header span.slide-caption {
  font-style: italic;
  font-size: 0.875em;
  color: #fff;
  margin-bottom: 2em;
  display: block;
}
/* line 432, ../sass/screen.scss */
.main-slider .slide .slide-text-header a.button {
  float: right;
}

/* line 439, ../sass/screen.scss */
.row.main-menu {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.35);
  max-width: none;
  margin-bottom: 4px;
}
/* line 443, ../sass/screen.scss */
.row.main-menu nav {
  width: 786px;
  margin: 0 auto;
}
/* line 446, ../sass/screen.scss */
.row.main-menu nav a {
  padding: 20px 16px;
  float: left;
  text-align: center;
  color: #333;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  font-size: 0.938em;
}

/* line 459, ../sass/screen.scss */
.row.ofertas {
  padding-bottom: 70px;
  max-width: none;
  background: url("../images/ofertasbg.jpg") repeat left top;
}
/* line 463, ../sass/screen.scss */
.row.ofertas h2.lines {
  width: 293px;
  line-height: 1em;
  margin: 0.5em auto 0;
}
/* line 469, ../sass/screen.scss */
.row.ofertas .btn-lines {
  float: none;
}

/* line 475, ../sass/screen.scss */
.row.eventos {
  margin: 20px auto;
}
/* line 478, ../sass/screen.scss */
.row.eventos .cycle-slideshow .cycle-pager {
  position: absolute;
  z-index: 2000;
  top: 32%;
  left: 50%;
  margin-left: -38px;
}
/* line 484, ../sass/screen.scss */
.row.eventos .cycle-slideshow .cycle-pager span {
  color: #fff;
  font-size: 4em;
  width: 25px;
  float: left;
  opacity: 0.5;
}
/* line 490, ../sass/screen.scss */
.row.eventos .cycle-slideshow .cycle-pager span.cycle-pager-active {
  opacity: 1;
}
/* line 495, ../sass/screen.scss */
.row.eventos .cycle-slideshow .slide {
  position: relative;
}

/* line 501, ../sass/screen.scss */
.row.destinos {
  margin-bottom: 20px;
  padding-bottom: 70px;
  padding-top: 33px;
  max-width: none;
  background: url("../images/mainbg.jpg") repeat left top;
}
/* line 507, ../sass/screen.scss */
.row.destinos > div {
  width: 1240px;
  margin: 0 auto;
}
/* line 511, ../sass/screen.scss */
.row.destinos h2 {
  width: 330px;
}
/* line 514, ../sass/screen.scss */
.row.destinos .btn-black {
  width: 222px;
  background: black url("../images/white-arrow.png") no-repeat 188px center;
}
/* line 518, ../sass/screen.scss */
.row.destinos ul {
  overflow: hidden;
  margin: 0 auto 2em;
  width: 940px;
}
/* line 522, ../sass/screen.scss */
.row.destinos ul li {
  width: 20%;
  float: left;
  position: relative;
}
/* line 526, ../sass/screen.scss */
.row.destinos ul li img {
  width: 100%;
}
/* line 529, ../sass/screen.scss */
.row.destinos ul li span {
  position: absolute;
  top: 43%;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.125em;
  left: 0;
  width: 100%;
  color: #fff;
  font-weight: 700;
}
/* line 540, ../sass/screen.scss */
.row.destinos ul li .btn-lines.white {
  position: absolute;
  z-index: 100;
  left: 50%;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  color: #fff;
  text-align: center;
  width: 90px;
  margin-left: -45px;
  font-size: 0.688em;
  font-weight: 700;
  top: 46%;
}

/* line 558, ../sass/screen.scss */
.social {
  padding-bottom: 32px;
}
/* line 560, ../sass/screen.scss */
.social > div {
  width: 270px;
  margin: 0 auto;
}
/* line 564, ../sass/screen.scss */
.social > div ul li {
  float: left;
}

/* line 571, ../sass/screen.scss */
footer.row {
  background: #333333;
  max-width: none;
}

/* line 575, ../sass/screen.scss */
.footer-top {
  padding: 27px 0;
  overflow: hidden;
  width: 940px;
  margin: 0 auto;
}
/* line 580, ../sass/screen.scss */
.footer-top a {
  float: left;
  height: 49px;
  width: 49px;
  margin-right: 10px;
  background: url("../images/social-sprite.png") no-repeat left top;
  text-indent: -9999px;
}
/* line 587, ../sass/screen.scss */
.footer-top a.facebook {
  background-position: 0 0;
}
/* line 590, ../sass/screen.scss */
.footer-top a.twitter {
  background-position: -50px 0;
}
/* line 593, ../sass/screen.scss */
.footer-top a.pinterest {
  background-position: -100px 0;
}
/* line 596, ../sass/screen.scss */
.footer-top a.instagram {
  background-position: -150px 0;
}
/* line 599, ../sass/screen.scss */
.footer-top a.youtube {
  background-position: -200px 0;
}
/* line 604, ../sass/screen.scss */
.footer-top form h3 {
  color: #dc1c4d;
  text-transform: uppercase;
  float: left;
  line-height: 40px;
  margin: 0;
}
/* line 611, ../sass/screen.scss */
.footer-top form input[type="text"] {
  width: 179px;
  float: left;
  height: 40px;
  margin: 0 10px 0 20px;
  border: none;
}
/* line 618, ../sass/screen.scss */
.footer-top form .btn.pink {
  background: #dc1c4d url("../images/white-arrow.png") no-repeat 95% center;
  height: 40px;
  border: none;
  color: #fff;
  padding: 0 43px 0 19px;
  text-transform: uppercase;
  font-size: 0.75em;
}

/* line 630, ../sass/screen.scss */
.footer-middle {
  background: url("../images/footer-bg.jpg") repeat left top;
  padding: 55px 0;
}
/* line 633, ../sass/screen.scss */
.footer-middle div {
  width: 20%;
  float: left;
}
/* line 636, ../sass/screen.scss */
.footer-middle div .city-title {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 700;
  margin-bottom: 4px;
}
/* line 643, ../sass/screen.scss */
.footer-middle div a {
  display: block;
  text-align: center;
  font-size: 0.813em;
  color: #fff;
  line-height: 1.5em;
}

/* line 653, ../sass/screen.scss */
.footer-bottom {
  background: #000;
  padding: 12px 20px 15px;
}
/* line 656, ../sass/screen.scss */
.footer-bottom .btn-lines.white {
  float: left;
  margin-right: 20px;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  width: auto;
  margin-top: 0;
  font-weight: 700;
}
/* line 666, ../sass/screen.scss */
.footer-bottom span.credits {
  color: #dc1c4d;
  font-weight: 700;
  text-align: right;
  display: block;
  line-height: 30px;
}

/*----------------------------------------------------------------------

                   OFERTAS @jimmy

---------------------------------------------------------------------*/
/*helperclasesr*/
/* line 689, ../sass/screen.scss */
.booking-slider {
  position: relative;
  height: 455px;
  overflow: hidden;
}
/* line 690, ../sass/screen.scss */
.booking-slider .booking-form {
  width: 240px;
  right: 10%;
  top: 5%;
  padding: 10px;
}
/* line 691, ../sass/screen.scss */
.booking-slider .booking-form select {
  width: 100%;
  height: 38px;
  margin: 1px 10px 0 0;
  background: white url("../images/down-arrow.png") no-repeat 182px center;
}
/* line 692, ../sass/screen.scss */
.booking-slider .booking-form input[type="text"] {
  margin-top: 10px;
  background: white url("../images/calendar-icon.png") no-repeat 173px center;
  border: none;
}
/* line 693, ../sass/screen.scss */
.booking-slider .booking-form input[type="button"] {
  width: 100%;
  margin-top: 10px;
}
/* line 695, ../sass/screen.scss */
.booking-slider .slide {
  position: relative;
}

/* line 701, ../sass/screen.scss */
.menu-booking-slider {
  height: 240px;
  height: 100%;
  position: absolute;
  left: 20%;
}
/* line 702, ../sass/screen.scss */
.menu-booking-slider img {
  border-bottom: 1px solid transparent;
  display: block;
}
/* line 703, ../sass/screen.scss */
.menu-booking-slider ul {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 30px;
  height: 100%;
}
/* line 704, ../sass/screen.scss */
.menu-booking-slider ul li {
  margin-top: 10px;
}
/* line 705, ../sass/screen.scss */
.menu-booking-slider ul li:first-child {
  margin-top: 0;
}
/* line 706, ../sass/screen.scss */
.menu-booking-slider ul li a {
  color: #cccccc;
  font-size: 13px;
  text-transform: uppercase;
}
/* line 707, ../sass/screen.scss */
.menu-booking-slider ul li a:hover {
  color: white;
}
/* line 708, ../sass/screen.scss */
.menu-booking-slider ul li a.active {
  color: white;
  cursor: default;
}

/*----------------------------------------------------------------------

                  MEJORES OFERTAS @jimmy

---------------------------------------------------------------------*/
/* line 721, ../sass/screen.scss */
.mejores-ofertas .title-mejores-ofertas {
  margin-bottom: 60px;
}
/* line 722, ../sass/screen.scss */
.mejores-ofertas h2 {
  margin-bottom: 0;
}
/* line 723, ../sass/screen.scss */
.mejores-ofertas select {
  height: 40px;
  border: 1px solid #666666;
}
/* line 725, ../sass/screen.scss */
.mejores-ofertas ul.ofertas li {
  padding-bottom: 40px;
  margin-bottom: 20px;
  float: none;
  width: 285px;
}

/* line 731, ../sass/screen.scss */
.submenu {
  padding: 20px 0;
}
/* line 734, ../sass/screen.scss */
.submenu .breadcumbs li {
  float: left;
}
/* line 735, ../sass/screen.scss */
.submenu .breadcumbs li a {
  font-size: 13px;
  color: #666666;
  font-style: italic;
  margin-right: 5px;
}
/* line 736, ../sass/screen.scss */
.submenu .breadcumbs li a.active {
  color: #333333;
  cursor: inherit;
}
/* line 737, ../sass/screen.scss */
.submenu .breadcumbs li a.active:hover {
  color: #333333;
  cursor: inherit;
}
/* line 739, ../sass/screen.scss */
.submenu .breadcumbs li a:hover {
  color: #333333;
}
/* line 744, ../sass/screen.scss */
.submenu .icons {
  text-align: left;
}
/* line 745, ../sass/screen.scss */
.submenu .icons ul li {
  float: right;
}
/* line 746, ../sass/screen.scss */
.submenu .icons .rss {
  width: 25px;
  height: 25px;
  display: block;
  background: url("../images/ico-rss.png") no-repeat left top;
}

/*----------------------------------------------------------------------

                   Detalle OFERTA @jimmy

---------------------------------------------------------------------*/
/* line 756, ../sass/screen.scss */
.clearPadding {
  padding: 0 !important;
}

/* line 759, ../sass/screen.scss */
.ofertas-detalle img {
  width: 100%;
}
/* line 760, ../sass/screen.scss */
.ofertas-detalle h2.lines {
  width: 760px;
}
/* line 761, ../sass/screen.scss */
.ofertas-detalle a.btn-lines {
  margin-bottom: 30px;
}
/* line 762, ../sass/screen.scss */
.ofertas-detalle #Info {
  text-align: center;
  padding: 30px;
}
/* line 763, ../sass/screen.scss */
.ofertas-detalle #Info span.price, .ofertas-detalle #Info span.desde {
  color: black;
  display: block;
  text-align: center;
}
/* line 764, ../sass/screen.scss */
.ofertas-detalle #Info span.price {
  margin-bottom: 30px;
}
/* line 765, ../sass/screen.scss */
.ofertas-detalle #Info span.desde {
  font-size: 0.688em;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 766, ../sass/screen.scss */
.ofertas-detalle #Info span.price {
  font-weight: 700;
  font-size: 2.25em;
  text-decoration: underline;
  line-height: 1.2em;
}
/* line 767, ../sass/screen.scss */
.ofertas-detalle #Info span:last-child {
  color: #999999;
}
/* line 768, ../sass/screen.scss */
.ofertas-detalle #Info h5 {
  color: #dc1c4d;
  font-size: 0.688em;
  text-transform: uppercase;
  text-align: center;
}
/* line 769, ../sass/screen.scss */
.ofertas-detalle #Info p {
  color: #666666;
  font-style: italic;
  font-size: 0.875em;
  text-align: center;
}
/* line 770, ../sass/screen.scss */
.ofertas-detalle #Info hr {
  margin: 50px 0;
}

/* line 775, ../sass/screen.scss */
#lists {
  color: #333333;
  margin-top: 40px;
}
/* line 776, ../sass/screen.scss */
#lists ul {
  list-style: inside;
  color: #dc1c4d;
}
/* line 777, ../sass/screen.scss */
#lists ul span {
  color: #333333;
}
/* line 779, ../sass/screen.scss */
#lists h4, #lists p {
  font-size: 0.85em;
}
/* line 780, ../sass/screen.scss */
#lists h4, #lists li {
  margin-bottom: 20px;
}

/* line 784, ../sass/screen.scss */
#disponibles-ofertas h5 {
  font-size: 18px;
  margin-bottom: 30px;
}
/* line 785, ../sass/screen.scss */
#disponibles-ofertas li {
  background-color: #FFF;
  padding: 10px;
  margin-top: 10px;
}
/* line 786, ../sass/screen.scss */
#disponibles-ofertas li:first-child {
  margin-top: 0;
}
/* line 788, ../sass/screen.scss */
#disponibles-ofertas .info {
  padding-top: 10px;
}
/* line 789, ../sass/screen.scss */
#disponibles-ofertas h3 {
  font-size: 1.125em;
  text-transform: uppercase;
}
/* line 790, ../sass/screen.scss */
#disponibles-ofertas h3 + span {
  display: block;
  color: #dc1c4d;
  font-size: 0.688em;
  text-transform: uppercase;
}
/* line 791, ../sass/screen.scss */
#disponibles-ofertas .btn-black {
  display: inline-block;
  margin-left: 20px;
}
/* line 792, ../sass/screen.scss */
#disponibles-ofertas li > div:last-child {
  text-align: right;
}
/* line 793, ../sass/screen.scss */
#disponibles-ofertas span.price {
  display: inline;
  color: black;
  font-size: 36px;
  text-decoration: none;
}
/* line 794, ../sass/screen.scss */
#disponibles-ofertas .des {
  font-size: 10px;
}
/* line 795, ../sass/screen.scss */
#disponibles-ofertas .bgWhite > div:first-child {
  padding: 0 !important;
}

/*----------------------------------------------------------------------

                   DESTINOS @jimmy

---------------------------------------------------------------------*/
/* line 808, ../sass/screen.scss */
.destinos-mapas h2.lines {
  width: 600px;
}

/* line 812, ../sass/screen.scss */
.items-servicios li {
  margin-top: 20px;
  position: relative;
}
/* line 813, ../sass/screen.scss */
.items-servicios li:first-child {
  margin-top: 0;
}

/*----------------------------------------------------------------------

                   DESTINOS-ciudad @jimmy

---------------------------------------------------------------------*/
/* line 826, ../sass/screen.scss */
.info-destino-ciudad .info h5 {
  font-size: 30px;
  color: #333333;
}
/* line 827, ../sass/screen.scss */
.info-destino-ciudad .info p {
  font-size: 14px;
  color: #333333;
}

/* line 830, ../sass/screen.scss */
.tiempo {
  text-align: center;
  margin: 0 auto;
}
/* line 831, ../sass/screen.scss */
.tiempo p {
  margin: 0 0 5px 0;
}
/* line 832, ../sass/screen.scss */
.tiempo img {
  display: block;
  margin: 0 auto;
}
/* line 833, ../sass/screen.scss */
.tiempo .grados {
  display: block;
  font-size: 36px;
  color: #333333;
}
/* line 834, ../sass/screen.scss */
.tiempo .grados-azul {
  color: #1c84dc;
}
/* line 835, ../sass/screen.scss */
.tiempo .grados-rojo {
  color: #dc1c4d;
}
/* line 836, ../sass/screen.scss */
.tiempo .clima {
  font-size: 14px;
}

/* line 841, ../sass/screen.scss */
.slider-destinos-ciudad .cycle-slideshow {
  width: 940px;
  position: relative;
}
/* line 843, ../sass/screen.scss */
.slider-destinos-ciudad .cycle-slideshow div.cycle-prev, .slider-destinos-ciudad .cycle-slideshow div.cycle-next {
  width: 36px;
  height: 36px;
  border: 2px solid white;
  position: absolute;
  z-index: 800;
  cursor: pointer;
  top: 50%;
}
/* line 844, ../sass/screen.scss */
.slider-destinos-ciudad .cycle-slideshow .cycle-prev {
  left: 5%;
  background: url("../images/white-arrow-left.png") no-repeat 50% center;
}
/* line 845, ../sass/screen.scss */
.slider-destinos-ciudad .cycle-slideshow .cycle-next {
  background: url("../images/white-arrow.png") no-repeat 50% center;
  right: 5%;
}
